<html>
<head>
  <link href="http://localhost:8000/css/tela_email/fale_conosco.css" rel="stylesheet" type="text/css">
  <%include  ../../../public/templates/cabecalho_styles.html%>
</head>

<body>



  <%include  ../../../public/templates/cabecalho.html%>
  <div style=" width: 75%; margin: auto;">
    <div style=" width: 100%;">

    <img src="<%= usuario.imagem %>" alt="<%= usuario.nome %>" style="width: 130px;/* height:60px; */float: right;">
      <div style="font-weight: bold; font-size: 25px; color:#222; display: inline;width: 500px;padding-right: 100%;"> <%= usuario.nome %>
      </div>
    </div>
    <div> CPF </div>
      <div><%= usuario.id %></div>
    <div> E-mail </div>
    <div> <%=usuario.email %></div>

</div>
</body>
  <%include  ../../../public/templates/cabecalho_scripts.html%>
</html>
