<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/nosso.css">
      <%include  ../../../public/templates/cabecalho_styles.html%>
  </head>

  <body>
    <%include  ../../../public/templates/cabecalho.html%>


    <div class = "corpo" style="width: 75%; margin:auto; margin-top: 3%;">
    <h1>Devolução # <%= devolucao.id %></h1>
    <form action="/testetela/<%= devolucao.id %>" method="post">
        <input type="hidden" name="id" value="<%= devolucao.id %>" checked="">
    <p>
        Estado atual: <%= devolucao.estado %><br/>
        <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" value="Analise" checked="">
                <label class="form-check-label">
               Em análise.
                </label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" value="Transporte" checked="">
                <label class="form-check-label">
                Produto em transporte.
                </label>
             </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" value="Recebido" checked="">
                <label class="form-check-label">
                Produto recebido.
                </label>
             </div>
             <div class="form-check">
                    <input class="form-check-input" type="radio" name="estado" value="Analise" checked="">
                    <label class="form-check-label">
                    Produto em análise.
                    </label>
                 </div>
             <div class="form-check">
                <input class="form-check-input" type="radio" name="estado" value="Concluída" checked="">
                <label class="form-check-label">
                Devolução concluída.
                </label>
             </div>
    </p>

    <p>
        Motivo: <%= devolucao.motivo %> <br/>
       <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo" value="Violada" checked="">
            <label class="form-check-label">
            A embalagem veio violada.
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo" value="NãoAtendeu" checked="">
            <label class="form-check-label">
            O produto não atendeu o esperado.
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo" value="NãoFunciona" checked="">
            <label class="form-check-label">
            O produto não está funcionando.
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="radio" name="motivo" value="Danificado" checked="">
            <label class="form-check-label">
            O produto está arranhado/danificado.
            </label>
         </div>
    </p>

    <p>
        Código produto:<br/>
        <input type="text" name="codigo_produto" value="<%= devolucao.codigo_produto %>">
    </p>

    <p>
        Código pedido:<br/>
        <input type="text" name="codigo_pedido" value="<%= devolucao.codigo_pedido %>">
    </p>

    <p>
        Descrição: <br/>
        <textarea name="descricao" style="font-size: 22px"> <%= devolucao.descricao %></textarea><br/>
    </p>

 

    <div>
        <p>
        
            <button type="submit" style="margin-top:10px;">Salvar alterações!</button></p> 
    </div>
    </form>


</div>
  </body>
    <%include  ../../../public/templates/cabecalho_scripts.html%>
</html>
