<html>
  <head>
    <%include  ../../../public/templates/cabecalho_styles.html/%>
  </head>

  <body>
      <%include  ../../../public/templates/cabecalho.html/%>

      <div class = "conteudo" style=" margin:auto; width:80%; margin-top:3%">
        <% if (typeof cliente == 'boolean' && cliente)  { %>
            <h1>Minhas devoluções</h1>
          <% } else { %>
              <h1>Devoluções de <%= nome%></h1>
            <%  }%>
        <div style = "border:1px gray solid;">
        <table class="table table-striped table table-hover">
          <thead>
           <tr>
            <th>Numero</th>
            <th>Motivo</th>
              <th>Estado</th>
              <th>Descrições</th>
            </tr>
          </thead>
          <tbody>
             <% for(var chave in devolucoes){ %>
     <tr class='clickable-row' data-href='/devolucao/<%=devolucoes[chave].id %>' style = " cursor: pointer;">

            <td><%= devolucoes[chave].id %></td>
            <td><%= devolucoes[chave].motivo %> </td>
            <td><%= devolucoes[chave].estado %>  </td>
            <td> <%= devolucoes[chave].descricao %> </td>

        <% } %>
          </tr>
          </tbody>
        </table>

      </div>

      </div>

  </body>

<%include  ../../../public/templates/cabecalho_scripts.html/%>

<html>
