<html>
  <head>
    <%include  ../../../public/templates/cabecalho_styles.html/%>
  </head>

  <body>
      <%include  ../../../public/templates/cabecalho.html/%>

      <div class = "conteudo" style="width: 75%; margin:auto; margin-top: 3%;">
          <p><h1>Devolução # <%= devolucao.id %></h1></p>
          <p style="font-size: 25px">Motivo da devolução: <%= devolucao.motivo %></p>
          <p style="font-size: 25px">Estado da devolução: <%= devolucao.estado %></p>
          <p style="font-size: 25px">Descrição:<br/></p>
          <textarea style="font-size: 22px" readonly="readonly"> <%= devolucao.descricao %></textarea><br/>
          
          <p>
              <form action="/testetela/<%= devolucao.id %>" method="get">
            <button  type="submit" style="margin-top: 20; width: 100px;
            height: 30px;">Alterar</button></p>  
         

         </div>

        

      </div>

  </body>

<%include  ../../../public/templates/cabecalho_scripts.html/%>

<html>
